<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La mejor ropa al alcanze de tu bolsillo, perfecta relacion precio/Calidad.">
    <meta name="keywords" content="Ropa, remeras, buzos, Hoddies, abrigos, zapatillas, lentes, relojes, bolsos">
    <title>Ayuda</title>
</head>
<body>
    <h1 class="encabezadoDePagina">Ayuda</h1>
    
</body>
</html>