<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="La mejor ropa al alcanze de tu bolsillo, perfecta relacion precio/Calidad.">
  <meta name="keywords" content="Ropa, remeras, buzos, Hoddies, abrigos, zapatillas, lentes, relojes, bolsos">
  <link rel="stylesheet" href="../Sass/css/stylo.css">
  <link rel="stylesheet" href="../Assets/bootstrap-5.0.0-dist/css/bootstrap.css">
  <script src="https://kit.fontawesome.com/f2c50cad3f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../Assets/fontawesome-free-5.15.1-web/css/all.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
  <title>Nuestros productos</title>
</head>

<body>
  <h1 class="encabezadoDePagina">NuestrosProductos</h1>
  <div class="container-fluid containerSizing positionOver-1">
    <div class="row rowSizing">
      <div class="col-4">
        <header class="PerfilNavegable__contenido">
          <img class="positionOver-1" quienesSomos-back src="../Assets/images/ImagenInicio.png" alt="logo">
        </header>
      </div>
      <div class="col">
        <ul class="nav justify-content-center">
          <li class="nav-item itemSizing itemColor">
            <a class="nav-link" href="#"><i class="fas fa-shopping-cart">Mi cartera</i></a>
          </li>
          <li class="nav-item itemColor">
            <a class="nav-link" href="#">Perfil</a>
          </li>
          <li class="nav-item itemColor">
            <a class="nav-link" href="#"><i class="fas fa-question-circle">Help</i></a>
          </li>
        </ul>
      </div>

    </div>
    <div class="col">
      <ul class="PerfilNavegable_contenido-Logger">
        <li class="perfilNavegable__contenido-logger-content positionOver-0">Logged in</li>
      </ul>
    </div>
    <ul class="PerfilNavegable__Urls positionOver-0">
      <li class="PerfilNavegable__Urls-quienesSomos quienesSomos-back"><a href="../index.html">Quienes somos</a></li>
      <li class="PerfilNavegable__Urls-NuestrosProductos nuestrosProductos-back"><a href="NuestrosProductos.html">Nuestros productos</a>
      </li>
      <li class="PerfilNavegable__Urls-Contacto contacto-back"><a href="Contacto.html">Contacto</a></li>
    </ul>
  </div>
  <div class="container-fluid containerSizing2 ">
    <div class="row midRow ">
      <div class="col-4 colSizing">
        <div class="dropdown firstDrop">
          <button class="btn btn-secondary dropdown-toggle buttonSizing" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <p class="ropaHombre">Ropa hombre</p>
          </button>
          <ul class="dropdown-menu backDrop" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item remerasSizing" href="#">Remeras</a></li>
            <li><a class="dropdown-item" href="#">Abrigos</a></li>
            <li><a class="dropdown-item pantalonesSizing" href="#">Pantalones</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle buttonSizing" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <p class="ropaMujer">Ropa mujer</p>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item remerasSizing" href="#">Remeras</a></li>
            <li><a class="dropdown-item" href="#">Abrigos</a></li>
            <li><a class="dropdown-item" href="#">Pantalones</a></li>
            <li><a class="dropdown-item pantalonesSizing" href="#">Vestidos</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle buttonSizing" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <p class="accesorios">Accesorios</p>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item remerasSizing" href="#">Gorras</a></li>
            <li><a class="dropdown-item" href="#">Pulseras</a></li>
            <li><a class="dropdown-item" href="#">Collares</a></li>
            <li><a class="dropdown-item pantalonesSizing" href="#">Bolsos</a></li>
          </ul>
        </div>
        <div class="galeria">
          <input type="radio" name="navegacion" id="_1" checked>
          <input type="radio" name="navegacion" id="_2">
          <input type="radio" name="navegacion" id="_3">
          <input type="radio" name="navegacion" id="_4">
          <img src="../Assets/images/image 1.jpg" width="204" height="200" alt="Galeria CSS 1" />
          <img src="../Assets/images/image 2.jpg" width="204" height="200" alt="Galeria CSS 2" />
          <img src="../Assets/images/image 3.jpg" width="204" height="200" alt="Galeria CSS 3" />
          <img src="../Assets/images/image 4.jpg" width="204" height="200" alt="Galeria CSS 4" />
        </div>
      </div>
      <div class="col">
        <div id="demo" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://www.w3schools.com/bootstrap4/chicago.jpg" alt="Los Angeles">
            </div>
            <div class="carousel-item">
              <img src="https://www.w3schools.com/bootstrap4/la.jpg" alt="Chicago">
            </div>
            <div class="carousel-item">
              <img src="https://www.w3schools.com/bootstrap4/ny.jpg" alt="New York">
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid containerSizing positionOver-1">
    <div class="row border border-dark">
      <!-- Footer -->
      <footer class="footerColor text-center text-white footer-sizing">
        <!-- Grid container -->
        <div class="container p-4">
          <!-- Section: Social media -->
          <section class="mb-4 socialMediaSizing">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-facebook-f btn--facebook"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter btn--twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google btn--send-mail"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-instagram btn--instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-linkedin-in  btn--linkedin"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github btn--github"></i></a>
          </section>
          <!-- Section: Social media -->

          <!-- Section: Form -->
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-center suscribeSizing">
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-1">
                    <strong>Sign up for our newsletter</strong>
                  </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-white mb-3">
                    <input type="email" id="form5Example2" class="form-control form-sizing" />

                  </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-auto">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-light mb-4">
                    Subscribe
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
          </section>
          <!-- Section: Form -->
          <!-- Grid container -->

          <!-- Copyright -->
          <div class="text-center p-3 copyright-sizing" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright
          </div>
          <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
  </div>
  </div>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous">
  </script>
</body>

</html>